.menu {
    background-color:white;
    color:black;
    margin-bottom:300px;
    height:700px;
    width:1700px;
}
nav ul 
{

	list-style-type: none;  
    display: flex;
 

}

nav li
{

	padding: 155px;
   
}
nav a
{

	font-size: 1.2em;
	color: rgb(78, 78, 131);
    text-decoration: none;
}