
.skills {
    border-color: white;
    background-color:rgba(0, 0, 0, 0.54);
    margin-top:300px;
    margin-bottom:300px;
    width:945px;
    font-style: italic;
    border-radius: 15px;
    
}

 .first-paragraphe {

margin:62px;
width: 330px;
float:right;

 }
 
 .second-paragraphe {
   
    margin:70px;
    width: 350px;
    float:right;
    
    
}
